html, body {
    /*padding-top: 50px;*/
    height: 100%;
    background-color: #333;
}
body {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
}


h1{
    font-family: 'Open Sans Condensed', sans-serif;
}

.close{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translateZ(0px) translateY(-100%);
    transform: translateZ(0px) translateY(-100%);
    visibility: hidden;
}

.open{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    visibility: visible;
}

#fullscreen{
    background: rgba(255, 255, 255, 0.8) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    color: black;
}
#fullscreen h2{
    padding-top: 40px;
}

#fullscreen .axis {
    font: 12px 'Open Sans', sans-serif;
    text-shadow: none;
    fill: #000;
}

#fullscreen .axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.page-title{
    padding: 4px;
    /*border-bottom: 1px solid rgb(96, 96, 96);*/
}

.top{
    background-color: rgb(42, 42, 42);
    border-bottom: 1px solid #2D2D2D;
}

.page {
    /*padding: 40px 15px;*/
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.header {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}
.header-title{
    float:left;
}
.header-nav{
    float:right;
}
.header-nav > li {
    display: inline-block;
}
.header-nav > li + li {
    margin-left: 20px;
}
.header-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    color: #fff;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
}
.pad{
    padding: 10px;
}

.pie-legend{
    font-size: 20px;
}

.axis {
    font: 12px 'Open Sans', sans-serif;
    text-shadow: none;
    fill: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.win{
    fill: #1F77B4;
}

.loss{
    fill: #FF7F0E;
}

.table {
    display: table;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.table>* {
    display: table-row;
}
.table>*>* {
    display: table-cell;
    padding-right:10px;
    vertical-align: middle;
    border-bottom: 1px solid #FFF;
}

#page {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background: #000;*/
    background: #2A2A2A;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page.toggled #sidebar-wrapper {
    width: 250px;
}

#content {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#page.toggled #content {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    padding: 1px 5px 1px 5px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#btn-toggle{
    opacity: 1;
    transition: opacity 0.15s linear 0s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

@media(min-width:992px) {
    #btn-toggle{
        opacity: 0;

    }

    #page {
        padding-left: 250px;
    }

    #page.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #content {
        padding: 20px;
        position: relative;
    }

    #page.toggled #content {
        position: relative;
        margin-right: 0;
    }
}


.input-group-addon:first-child {
    border-right: 0px none;
    min-width: 95px;
}
